<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Render pages from shared folder for nav items -->
    <%= render "shared/nav", nav: 'blog_nav' %>

    <!--Yield keyword used to render pages in the file-->
    <%= yield %>
      <!-- Devise authentication generator method  -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
  <!--Used to caputure session in the file   -->
    <% if session[:source] %>
     <p> Thanks for visiting <%= session[:source] %></p>
    <% end %>
  </body>
</html>
