<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Change the link tag from application to blogs to show which stylesheet it should include in the mindex file for blogs -->
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <%= render "shared/nav", nav: 'blog_nav' %>
    <!--MOST IMPORTANT TO RENDER PAGES IN THE FILE-->
    <%= yield %>
    
  <!--Used to caputure session in the file   -->
    <% if session[:source] %>
     <p> Thanks for visiting <%= session[:source] %></p>
    <% end %>

  </body>
</html>
