<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag    'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- Partials -->
    <%= render "shared/nav", nav: 'profile_nav' %>
   
    <!--Render pages in the file-->
    <%= yield %>
    
    <!--Used to capture session in the file   -->
    <% if session[:source] %>
     <p> Thanks for visiting <%= session[:source] %></p>
    <% end %>

  </body>
</html>
